body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  background-image: https://www.google.com/imgres?q=football%20ground&imgurl=https%3A%2F%2Fimg.freepik.com%2Ffree-vector%2Fgradient-football-field-background_52683-66772.jpg&imgrefurl=https%3A%2F%2Fwww.freepik.com%2Ffree-vector%2Fgradient-football-field-background_15634515.htm&docid=Jgx9CgW74Yq-NM&tbnid=x-wyBxaUOe7bkM&vet=12ahUKEwjVgrizod2OAxURSGwGHSqXDA8QM3oECB4QAA..i&w=626&h=417&hcb=2&ved=2ahUKEwjVgrizod2OAxURSGwGHSqXDA8QM3oECB4QAA;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 10px;
}

input {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px 15px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

.turf-card {
  background: #e3e3e3;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
